.WhoAndLegacy {
    background-color: rgb(216, 216, 216);
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    justify-content: space-evenly;
    height: auto;
    width: 100%;
    color: darkslategray;
    font-size: 15vh;
    font-family: 'Oswald', sans-serif;
    /* border: 1vh whitesmoke solid; */
}

.WhoAndLegacyItemsLeft {
    padding: 3vh;
    text-align: center;
    padding: 0 10vh 0 5vh;
    width: 50%;
    border-right: 2vh solid whitesmoke;
    border-left: 2vh solid rgb(29, 29, 29);
    background-color: whitesmoke;
    line-height: 90%;
}

.WhoAndLegacyItemsRight {
    color: black;
    font-size: 4vh;
    width: 50%;
    padding: 5vh;
    display: flex;
    flex-flow: column nowrap;
    border-right: 2vh solid rgb(29, 29, 29);
}