.Code {
    background-image: url('../../../assets/code.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    width: 100%;
    height: inherit;
    color: whitesmoke;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.CodeParagraph {
    width: 50%;
    height: 80%;
    text-align: center;
    padding: 1vh;
}