.Code {
    background-image: url('../../../assets/code.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: inherit;
    border: 2vh solid whitesmoke;
    color: whitesmoke;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}