.HeaderAndTitle {
    width: 100%;
    height: inherit;
    background-image: url('./../../../assets/desk.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    justify-content: flex-start;
    align-content: space-between;
    padding: 0 10vh;
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
}

.Header {
    padding: 2vh 0;
    display: flex;
    justify-content: space-between;
}

.HeaderItem {
    color: whitesmoke;
}
.HeaderItem:hover {
    color: white;
}

.Title {
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    font-size: 18vh;
    margin: auto;
    text-align: right;
    align-content: right;
    align-items: right;
    line-height: 80%;
}

.TitleRHS {
    transition: color .5s;
    display: flex;
    flex-flow: row nowrap;
    justify-content: right;
}

.TitleRHSSubText {
    font-size: 5vh;
    margin: 2vh 0 0 0;
    line-height: 90%;
    font-family: 'Source Sans Pro', sans-serif;
}

.TitleRHS:hover {
    color: rgb(223, 223, 223);
}

.TitleWord {
    margin: 0;
    padding: 0;
    padding: 5px;
}


@media only screen and (max-width: 800px) {
    .HeaderAndTitle {
        height: auto;
        background-size: inherit;
        background-position-x: -20vh;
        padding: 1vh 3vh;
    }

    .Header {
        font-size: 1.5vh;
        display: flex;
        justify-content: space-between;
    }

    .Title {
        font-size: 8vh;
        margin: 6vh 0;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;
        flex-flow: column nowrap;
        line-height: 80%;
    }

    .TitleRHS {
        width: 100%;
    }

    .TitleRHSSubText {
        margin: 1vh 0 0 0;
        font-size: 3vh;
        font-family: 'Source Sans Pro', sans-serif;
        line-height: 100%;
    }
}
